<%= form_tag(account_search_index_path(current_user.account), method: :get) do %>
  <div class="field">
    <label class="label">Data Inicial</label>
    <div class="control">
      <%= date_field_tag :first_date, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <label class="label">Data Final</label>
    <div class="control">
      <%= date_field_tag :last_date, class: 'input' %>
    </div>
  </div>
  
  <div class="control">
    <%= submit_tag 'Pesquisar', class: "button is-primary"  %>
  </div>
  <br/>
<% end %>