<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Olá, Seja bem vindo ao NoBank.
            </h1>
            <h2 class="subtitle">
                Para Mais funcionalidades faça seu login
            </h2>
        </div>
    </div>
</section>
