

<section class="hero is-info welcome is-small">
<div class="hero-body">
    <div class="container">
        <h3 class="title">
            Olá, <%= current_user.email %> <br/> Seja bem vindo ao NoBank.
        </h3>
        <h2 class="subtitle">
            Agora Vocẽ pode usar seu banco com todas as funcionalidades
        </h2>
    </div>
</div>
</section>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
          <article class="tile is-child box">
              <p class="title"><%= @account.balance %></p>
              <p class="subtitle">Saldo</p>
          </article>
      </div>
  </div>
</section>
